.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  max-width: 1024px;
  width: 100%;
  padding: 48px;
  gap: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link:hover {
  color: whitesmoke;
}

.img {
  background-image: linear-gradient(
      0deg,
      rgba(var(--primary-rgb), 0.5),
      rgba(var(--primary-rgb), 0.5)
    ),
    url("../public/img/mp.webp");
  background-size: cover;
  background-position: 51% center;
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .img {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 24px;
  }
}
