.bar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  padding: 16px 24px;
  left: 0;
  bottom: 0;
  background-color: var(--navy);
  box-shadow: 0 -2px 10px rgba(2, 38, 80, 0.5);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.bold {
  font-size: 32px;
}