.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  padding: 48px;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 320px) {
  .container {
    padding: 24px;
  }
}
