.experience {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  padding: 48px;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 8px;
  transition: .25s ease-in-out;
}

.card:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.75rem, 0.7346rem + 0.0877vw, 0.875rem);
  padding: 0 24px 16px;
  gap: 8px;
}

@media screen and (max-width: 280px) {
  .container { padding: 24px; }
}