.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  padding: 16px 48px;
  border-top: 1px solid var(--secondary);
  gap: 2px;
}

.italics {
  font-size: clamp(0.375rem, 0.3596rem + 0.0877vw, 0.5rem);
}

@media screen and (max-width: 320px) {
  .container {
    padding: 16px 24px;
  }
}
