:root {
  --navy: #022650;
  --baby: #B4D8FD;
}

html,
body {
  font-family: 'DM Sans';
  background-color: white;
  background-color: var(--navy);
  color: var(--baby);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}
