.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  padding: 48px;
  gap: 32px;
}

@media screen and (max-width: 280px) {
  .container { padding: 24px; }
}