.img {
  display: none;
}

@media screen and (max-width: 768px) {
  .img {
    display: flex;
    background-image: linear-gradient(
        0deg,
        rgba(var(--primary-rgb), 0.5),
        rgba(var(--primary-rgb), 0.5)
      ),
      url("../public/img/mp.webp");
    background-size: cover;
    background-position: center;
    aspect-ratio: 2 / 1;
    width: 100%;
  }
}
