.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  padding: 48px;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gridItems {
  display: inline-grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  color: var(--primary);
  background-size: cover;
  background-position: center;
  background-color: var(--secondary);
}

.item:hover {
  transform: scale(1.025);
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;
}

.link:hover {
  color: whitesmoke;
}

@media screen and (max-width: 480px) {
  .gridItems { grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
}

@media screen and (max-width: 320px) {
  .container { padding: 24px; }
}